
.sidebar-item {
  position: relative;
  display: flex;
  border-radius: 0.375rem;
}

.sidebar-item:hover, .sidebar-item.active {
  background-color: hsl(var(--muted) / 0.5);
}

.sidebar-item button {
  opacity: 0;
  transition: opacity 0.2s;
}

.sidebar-item:hover button, .sidebar-item:focus-within button {
  opacity: 1;
}
